.exit-message {
  font-size: 1.5em;
  padding: 10px;
}

.buttonFalse {
  background-color: #316685;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.logout-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonTrue {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
