/* input {
  width: 30%;
  border: 1px solid #316685;
  border-radius: 4px;
  display: inline-block;
  justify-content: center;
  padding: 0.5em;
}

input:focus {
  border: 3px solid #316685;
} */

label {
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
}
input {
  align-items: center;
  display: inline-block;
}

#signup {
  background-color: #316685;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1rem;
  cursor: pointer;
}

.input-label {
  color: #316685;
  display: inline-block;
  text-align: right;
  font-size: 1rem;
  margin: 10px;
}
