.home-heading {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-links {
  color: #316685;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.Link {
  background-color: #316685;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
